html {
  background: white url('/ballpython.jpg');
  background-position:100% 100%;
  background-repeat: no-repeat;
  background-size: 20%;
}

select {
  width: 500px;
  height: 30px;
}

body {
  font-family: Trebuchet MS;
  color: black;
  padding: 25px;
}

h1, h2, h3 {
  position: center;
}

p {
  position: left;
}

table, tr, th, td {
  border: 1px solid black;
}

form, input {
  border: 1px solid black;
}

.flex {
  display: flexbox;
  justify-content: center;
  border: 1px solid black;
}