html {
  height: 100%;
  background: white url('/ballpython.jpg');
  background-attachment: fixed;
  background-position:100% 100%;
  background-repeat: no-repeat;
  background-size: 20%;
}

body {
  height: 100%;
  font-family: Trebuchet MS;
  color: black;
  padding: 25px;
}

select {
  width: 500px;
  height: 30px;
}

h1, h2, h3 {
  position: center;
}

p {
  position: right;
  right margin: 1%;
}

table {
  table-layout: auto;
  width: 75%;
  border: 1px solid black;
}

tr, th, td {
 border: 1px solid black;
 padding: 2% 0% 2% 1%;
}

form, input {
  border: 1px solid black;
}

input {
  width: 500px;
  height: 30px;
}

.linkinnav {
  border: 1px solid black;
  padding: 1% 1% 1% 1%;
  display: flexbox;
  justify-content: space-around;
}