html {
  background: white url('/ballpython.jpg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 30%;
}

body {
  font-family: Trebuchet MS;
  color: black;
  margin: 0px;
  padding: 25px;
}

table, tr, th, td {
  border: 1px solid black;
}

form, input {
  border: 1px solid black;
}

.flex {
  display: flexbox;
  justify-content: center;
  border: 1px solid black;
}