<h2>Owners</h2>

<p>Here are the owners who have kindly adopted our animals, or registered to do so.</p>

<p>To register a new owner with the shelter, click <a href="/shelter/owners/new">here</a>.</p>
<p>To eliminate an unacceptable owner, click <a href="/shelter/owners/delete">here</a>.</p>
<p>To update the details of an owner, click their name.</p>

<table>

  <tr>

    <th>
  
      Owner
  
    </th>

    <th>
  
    Experience
  
    </th>

  </tr>

    <% for owner in @owners %>
      
      <tr>

      <td>
  
        <a href="/shelter/owners/<%= owner.id %>/update">
          <%= owner.name %>
        </a>
  
      </td>

      <td>
  
      <%= owner.experience %>
  
      </td>

      </tr>

  <% end %>

</table>