<h2>Add new owner</h2>

<p>This page is for staff to register a new owner as a shelter member. Owners are able to check animal listings.</p>

<form method="post" action="/shelter/owners">

  <p>

    <label for="name">
  
      Owner name:
  
    </label>
  </p>
  
  <p>
    <input id="name" name="name" type="text"/>

  </p>

  <p>
 
    <label for="experience">
  
     Describe the owner's experience keeping or working with animals, beginning with how many years they have been doing so.
  
    </label>
  
  </p>

  <p>

    <input id="experience" name="experience" type="text"/>
  
  </p>

  <input type="submit" value="Register owner with shelter"/>

</form>