<h2>Un-register an animal</h2>

<p>This page is here to un-register an animal upon their death.</p>

<form method="post" action="/animals/delete">

<select name="id">

  <label>

    <% for animal in @animals %>

      <option value="<%=animal.id %>">

        <%= animal.name %> the <%= animal.type %>

      </option>

    <% end %>

  </label>

  </select>

  <p>

    <input type="submit" value="Un-register"/>

  </p>

</form>