<h2>Our animals</h2>

<p>These are our pride and joy. We'll take in any injured, stray, sick or rescue animal that comes our way.</p>

<p>To register a new animal with us, click <a href="/shelter/animal/new">here</a>.

<table class="table">

  <tr>

    <th>Animal</th>

    <th></th>

    <th>Type</th>

    <th></th>

    <th>Adoptable?</th>

    <th></th>

    <th>Admission date</th>

  </tr>

  <tr>
    
  </tr>

</table>