<h2>Our animals</h2>

<p>These are our guests. We take in any injured, stray, sick or rescue animal that comes our way.</p>

<p>To register a new animal with us, click <a href="/shelter/animals/new">here</a>.
<p>To un-register an animal with us upon their death, click <a href="/shelter/animals/delete">here</a> and select from the list.</p>
<p>To update the details of an animal in our care, select their page, and click the relevant link.</p>

<table>

  <tr>

    <th>
    Animal
    </th>

    <th></th>

    <th>
    Type
    </th>

    <th></th>

    <th>
    Adoptable?
    </th>

    <th></th>

    <th>
    Admission date
    </th>

  </tr>

    <% for animal in @animals %>
    
      <tr>

        <td>
          <%= animal.name %>
        </td>

        <td>-</td>

        <td>
          <%= animal.type %>
        </td>

        <td>-</td>

        <td>
          <%= animal.adoptable %>
        </td>

        <td>-</td>

        <td>
          <%= animal.admission_date %>
        </td>
        
      </tr>

    <% end %>

</table>