<h2>Add new animal</h2>

<p>This page is for staff to register an animal with the charity. Be as specific and descriptive as possible, as we will use your entry as a reference.</p>


<table>

<form action = "/animals" method = "post">

    <tr>

      <p>
      
        <label for="name">
     
          Enter animal name. 
     
        </label>
      
      </p>

      <p>

        <input id="name" name="name" type="text"/>
      
      </p>

    </tr>

    <tr>

      <p>
      
        <label for="type">
     
          Type of animal. Begin 'Exotic -' if the animal is a bird, reptile or invertebrate, or non-native to the UK, with the exception of common companion animals. 
     
        </label>
      
      </p>

      <p>
        
        <input id="type" name="type" type="text"/>
      
      </p>

    </tr>

    <tr>

      <p>
      
        <label for="admission_date">
     
          Date and time admitted: 
     
        </label>

      </p>

      <p>

        <input id="admission_date" name="admission_date" type="text"/>
      
      </p>

    </tr>

    <tr>

      <p>
      
        <label for="adoptable">
     
          Is the animal ready for adoption? Either way, describe the animal's health and temperament. 
     
        </label>

      </p>

      <p>

        <input id="adoptable" name="adoptable" type="text"/>
      
      </p>

    </tr>

    <tr>

    <p>
        <label for="bio">

        Tell us the animal's history.

        </label>

    </p>

    <p>

        <input id="bio" name="bio" type="text"/>

    </p>

    </tr>

  <input type="submit" value="Register animal"/>

</form>

</table>