<h2>De-register an adoption</h2>

<p>This page is for de-registering the Occasionally the needs of our animals are too much for our owners. Where this does not warrant <a href="/shelter/owners/delete">execution</a>, we can take the animals back.</p>

<p>The process is simple: just select the combination from the drop-down menu, and it will be removed from our database.</p>

<form method="post" action="/shelter/ownerships/delete">

  <select name="id">

    <label>

      <% for ownership in @ownerships %>

        <option value="<%= ownership.id %>">

          <%= ownership.id %>

        </option>

      <% end %>

    </label>


  </select>

  <p>

    <input type="submit" value="Return animal"/>

  </p>

</form>