<h2>Adoptions</h2>

<p>We regularly check up on the health progress of each animal we adopt out, because of the particular needs that rescue animals have.</p>

<table class="table">
  <tr>
  
    <th>Owner</th>
  
    <th></th>
  
    <th>Animal</th>
  
  </tr>

  <tr>
  
    <td></td>
  
    <td>\</td>
  
    <td></td>
  
  </tr>

</table>