<h2>Adoptions</h2>

<p>We regularly check up on the health progress of each animal we adopt out, because of the particular needs that rescue animals have.</p>

<p>To register a new adoption, click <a href="/shelter/ownerships/new">here</a>.</p>

<p>To return the animal to our care, click <a href="/shelter/ownerships/delete">here</a>.</p>

<p>To update an ownership, click on the owner name.</p>

<table class="table">
  <tr>
  
    <th>Owner</th>
  
    <th>Animal</th>
  
  </tr>

  <%for ownership in @ownerships %>

    <tr>

      <td>
        <a href="/shelter/ownerships/<%= ownership.id %>/update">
          <%= ownership.owner.name %>
        </a>
      </td>
        
      <td>
        <%= ownership.animal.name %>
      </td>
    
    </tr>

  <% end %>

</table>