<h2>Adoption</h2>

<p>This page is for shelter workers to register that one of our animals has been adopted.</p>

<form method="post" action="/shelter/ownerships">

  <p>
    <label for="owner_id">Owner ID:
    </label>

    <input id="owner_id" name="owner_id" type="text"/>
  </p>

  <p>
    <label for="animal_id">Animal ID:
    </label>

    <input id="animal_id" name="animal_id" type="text"/>
  </p>

  <p>
    <input type="submit" value="Adopt animal"/>

</form>