<h2>Adoption</h2>

<p>This page is for shelter workers to register that one of our animals has been adopted.</p>

<form method="post" action="/shelter/ownerships">

  <p>
    <label>

      <select name="owner_id"> 

        <% for owner in @owners %>

          <option value="<%= owner.id %>">

            <%= owner.name %> 

          </option>

        <% end %>

      </select>

    </label>

  </p>

  <p>

    <label>

      <select name="animal_id"> 

        <% for animal in @animals %>

          <option value="<%= animal.id %>">

            <%= animal.name %> 

          </option>

        <% end %>

      </select>

    </label>

  </p>  

  <p>
    <input type="submit" value="Adopt animal"/>
  </p>

</form>