<h2>Update adoptions</h2>

<p>This page is for changing details of an owner-pet adoption.</p>

<p>Our network of owners can swap pets with each other when appropriate, or maybe you mis-filed them when registering the adoption.</p>

<form method="post" action="/shelter/ownerships/<%=@ownership.id%>/update">

  <p>

    <label for="animal_id">

    Animal: 

    </label>

  </p>

  <p>

    <input type="select" value="<%= @ownership.animal.name %> the <%= @ownership.animal.type %>"/>

  </p>

  <p>

    <label for="owner_id">

    Owner:

    </label>

  </p>

  <p>

    <input type="select" value = "<%= @ownership.owner.name %>"/>

  </p>

  <input type="submit" value="Update adoption"/>
</form>