<!DOCTYPE html>

<html>

<head>

  <title>Site Home</title>

</head>

<body>

  <h1>St. James the Greater's Home for Animals</h1>

    <p>Welcome to StJtGHfA, a non-commercial animal sanctuary.</p>

    <p>We receive rescued animals from animal trusts and veterinary hospitals, care for them, and offer them for adoption when healthy enough.</p>

    <p>We track our animals after adoption as well, so we can ensure that animals who have not had the best start can live stable, healthy lives.</p>

    <p>Not all our friends have fur! If you are looking for a new pet, and you have interest or experience in keeping exotic animals, we encourage you to look at our exotics page.</p> 

</body>
</html>