<!DOCTYPE html>

<html>

<head>

  <title>St James the Greater's Home for Animals</title>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css">

</head>

<body>
<ul class="header">
  <li>
    <a class="linkinnav" href="/">
      StJtGHfA Home
    </a>
  </li>

  <li>
    <a class="linkinnav" href="/animals">
      Animals in our care
    </a>
  </li>

  <li>
    <a class="linkinnav" href="/owners">
      Friends of the sanctuary
    </a>
  </li>

  <li>
    <a class="linkinnav" href="/ownerships">
      Ongoing adoptions
    </a>
  </li>
</ul>

</body>

<%= yield %>

</html>

