<!DOCTYPE html>

<html>

<head>

  <title>St James the Greater's Home for Animals</title>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css">

</head>

<body>

<nav>
  <a class="flex" href="/shelter">
    StJtGHfA Home
  </a>

  <a class="flex" href="/shelter/animals">
    Animals in our care
  </a>

  <a class="flex" href="/shelter/owners">
    Friends of the sanctuary
  </a>

  <a class="flex" href="/shelter/ownerships/new">
    Adopt an animal
  </a>

  <a class="flex" href="/shelter/animals/new">
    Register new animal
  </a>

  <a class="flex" href="/shelter/owners/new">
    Register new owner
  </a>
</nav>

</body>

<%= yield %>

</html>
