<!DOCTYPE html>

<html>

<head>

  <title>St James the Greater's Home for Animals</title>

</head>

<body>

  <h1>St James the Greater's Home for Animals</h1>

  <p class="side_button"><a href="/shelter">
    StJtGHfA Home
  </a></p>

  <p class="side_button"><a href="/shelter/animals">
    Animals in our care
  </a></p>

  <p class="side_button"><a href="/shelter/owners">
    Friends of the sanctuary
  </a></p>

  <p class="side_button"><a href="/shelter/ownerships/new">
    Adopt an animal
  </a></p>

  <p class="side_button"><a class="smaller" href="/shelter/animals/new">
    Register new animal
  </a></p>

  <p class="side_button"><a href="/shelter/owners/new">
    Register new owner
  </a></p>

</body>

<%= yield %>

</html>