<!DOCTYPE html>

<html>

<head>

  <title>St James the Greater's Home for Animals</title>

  <link rel="stylesheet" type="text/css" href="/stylesheet.css">

</head>

<body>

  <a class="linkinnav" href="/shelter">
    StJtGHfA Home
  </a>

  <a class="linkinnav" href="/shelter/animals">
    Animals in our care
  </a>

  <a class="linkinnav" href="/shelter/owners">
    Friends of the sanctuary
  </a>

  <a class="linkinnav" href="/shelter/ownerships">
    Ongoing adoptions
  </a>


</body>

<%= yield %>

</html>
